.filter-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.filter-button {
  color: white;
  background: black;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 40px;
  padding: 10px 20px 8px 20px;
  z-index: 200;
  width: 280px;
}

.filter-dropdown {
  width: 300px;
  height: fit-content;
  background-color: #fffdf4;
  border: 2px solid black;
  border-radius: 25px;
  position: absolute;
  z-index: 100;
  width: 280px;
  top: 0px;
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
  transition: all 2s ease-in;
}

.filter-dropdown ul {
  list-style: none;
  text-align: center;
  margin: 64px auto 30px auto;
}

.filter-option {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

.filter-option:hover {
  color: #df7861;
}

.filter-container-sticky {
  position: fixed;
  z-index: 200;
  top: 116px;
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}

.tabs {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
}

.tab {
  color: black;
  font-size: 24px !important;
  font-weight: 700;
  margin-right: 36px;
  cursor: pointer;
}

.arrow {
  font-size: 16px;
}

.tab:hover {
  border-bottom: 3px solid black;
}

.underline {
  border-bottom: 3px solid black;
}
