.project-container {
  width: 100%;
  margin: 50px auto;
}

.project-item {
  width: 100%;
  height: fit-content;
  border-radius: 34px 34px 150px 34px;
  padding: 30px;
  position: relative;
}

.project-text {
  margin-top: 20px;
}

.bg-green {
  background-color: #e1f0e1;
}

.bg-blue {
  background-color: #d9ebed;
}

.project-info {
  width: 100%;
  padding-right: 0;
}

/* IMAGE */

.image {
  position: initial;
  width: 100%;
  height: 0;
  padding-top: 63%;
  background-position: center;
  background-size: cover;
  /* width: 95%; */
  /* height: 300px; */
  border-radius: 20px;
  /* position: absolute; */
  top: -97px;
  right: -470px;
}

.image-container {
  width: 100%;
  position: relative;
}

/* LINKS  */

.links {
  position: absolute;
  top: 30px;
  right: 22px;
}

.links p {
  margin-right: 10px;
  font-size: 28px;
  transition: 0.2s ease-in;
}

.links p:hover {
  color: black;
}

/* TAGS */

.tech-tags {
  width: 80%;
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
}

.tech-tag {
  color: white;
  background-color: #df7861;
  padding: 5px 15px 2px 15px;
  border-radius: 20px;
  font-weight: 400;
  margin: 10px 10px 0 0;
}

/* RESPONSIVENESS */

@media screen and (max-width: 1500px) {
  .project-container {
    /* width: 80%; */
  }
}

@media screen and (max-width: 450px) {
  .project-item {
    padding: 22px;
  }
  .links {
    top: 17px;
    right: 16px;
  }
}
