#projects {
  margin: 0 auto;
  margin-top: -130px;
  padding-top: 130px;
  margin-bottom: 200px;
  width: 60%;
}

.scroll-anchor {
  position: relative;
  top: -130px;
  left: 0;
}

@media screen and (max-width: 1500px) {
  #projects {
    width: 80%;
  }
}

@media screen and (max-width: 1100px) {
  #projects {
    width: 100%;
  }
}

@media screen and (max-width: 974px) {
  #projects {
    margin-top: -300px;
    padding-top: 300px;
  }
}
