.project-container {
  width: 85%;
  margin: 50px auto 130px auto;
}

.project-item {
  width: 100%;
  border-radius: 34px 34px 150px 34px;
}

.project-text {
  margin-top: 20px;
}

.project-info {
  width: 100%;
  padding-right: 0;
}

/* IMAGE */

.image {
  width: 100%;
  height: 0;
  padding-top: 63%;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}

.image-container {
  width: 100%;
  position: relative;
}

/* LINKS  */

.link {
  transition: 0.2s ease-in;
}

.link:hover {
  color: var(--black);
}

/* TAGS */

.tech-tags {
  width: 80%;
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
}

.tech-tag {
  color: white;
  background-color: var(--orange);
  padding: 7px 18px 4px 18px;
  border-radius: 20px;
  font-weight: 400;
  margin: 10px 10px 0 0;
}

/* RESPONSIVENESS */

@media screen and (max-width: 450px) {
  .project-item {
    padding: 22px;
  }
  .links {
    top: 17px;
    right: 16px;
  }
}

@media screen and (max-width: 800px) {
  .project-container {
    width: 100%;
  }
}
