#projects {
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 200px;
  width: 60%;
}

#projects-anchor {
  position: relative;
  top: -200px;
  left: 0;
}

.tabs {
  display: flex;
  list-style: none;
  margin: 0;
}

.tab {
  color: black;
  font-size: 24px !important;
  font-weight: 700;
  margin-right: 36px;
  cursor: pointer;
}

.filter {
  display: flex;
  justify-content: center;
}

.filter-button {
  color: white;
  background: black;
  font-size: 20px !important;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 40px;
  padding: 10px 20px 8px 20px;
}

.arrow {
  font-size: 16px;
}

.tab:hover {
  border-bottom: 3px solid black;
}

.underline {
  border-bottom: 3px solid black;
}

@media screen and (max-width: 1500px) {
  #projects {
    width: 80%;
  }
}

@media screen and (max-width: 1100px) {
  #projects {
    width: 100%;
  }
}
