#scroll-about p {
  font-size: 1.5rem;
}
.skills-container {
  display: flex;
  gap: 160px;
}

#profile-image {
  max-width: 300px;
  border-radius: 16px;
  margin-bottom: 40px;
}
.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
