#contact {
  max-width: 800px;
  margin: 80px auto 200px auto;
}

#contact-anchor {
  position: relative;
  top: -270px;
  left: 0;
}

/* Alternative to off-setting with negative margin for scroll to #contact */
/* #anchor {
  scroll-margin-top: 100px;
} */

.contact-link {
  transition: 0.2s ease-in;
  color: var(--orange);
  font-weight: 400;
  text-decoration: none;
}

#contact a:hover {
  color: var(--black);
}
