#contact {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 200px;
}

#contact a {
  transition: 0.2s ease-in;
  color: #df7861;
  font-weight: 400;
  text-decoration: none;
}

#contact a:hover {
  color: black;
}
