.navbar {
  background-color: var(--bg);
  padding: 10px 5%;
}

.navbar-brand {
  font-size: 54px !important;
}

.navbar-brand:hover {
  opacity: 0.8;
}

.navbar-link {
  color: var(--black);
  margin-left: 30px;
  font-size: 24px !important;
  font-weight: 700;
}

.navbar-collapse {
  text-align: center;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--black);
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--black);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--orange);
}
