.navbar {
  background-color: #FFFDF4;
  padding: 20px 5%;
}

.navbar-brand {
  font-size: 34px !important;
}
.navbar-link {
  color: black;
  margin-left: 30px;
  font-size: 24px !important;
  font-weight: 700;
}

.navbar-collapse {
  text-align: center;
}

.navbar-light .navbar-toggler {
  /* border: none; */
  /* color: black; */
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}