.navbar {

  


  background-color: #FFFDF4;
}

.navbar ul {
  margin-right: 0;
}

.navbar ul a {
  margin-left: 20px;
  color: black !important;
}

.navbar a {
  font-size: 26px;
}

.nav-links a {
  color: black;
  margin-left: 30px;
  font-size: 26px;
  font-weight: 700;
}

.navbar-light .navbar-toggler {
  /* border: none; */
  /* color: black; */
}