#intro-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 200px;
}

#intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin-bottom: 40px;
}

/* .tech-stack {
  display: flex;
} */

.contact-button-screen {
  display: none !important;
}

.intro-left {
  width: 60%;
  height: 100%;
}

#portrait {
  width: 35%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

@media screen and (max-width: 500px) {
  #intro {
    margin-top: 70px;
  }
  /* .tech-stack {
    display: initial;
  } */
}

@media screen and (max-width: 750px) {
  #intro-container {
    margin-bottom: 126px;
  }
  #intro {
    display: block;
  }
  .intro-left,
  #portrait {
    width: 100%;
    margin-top: 42px;
  }

  .contact-button {
    display: none !important;
  }

  .contact-button-screen {
    display: inline-block !important;
  }
}
