#intro {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 200px;
}

.tech-stack {
  display: flex;
}

.intro a {
  color: #df7861;
  font-weight: 400;
}

@media screen and (max-width: 500px) {
  #intro {
    margin-top: 70px;
  }
  .tech-stack {
    display: initial;
  }
}
