#intro-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 280px;
}

#intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

/* .tech-stack {
  display: flex;
} */

.intro-left {
  width: 60%;
  height: 100%;
}

#portrait {
  width: 35%;
  object-fit: cover;
  object-position: center;
}

.contact-button {
  position: absolute;
  top: 436px;
  left: 0px;
}

@media screen and (max-width: 500px) {
  #intro {
    margin-top: 70px;
  }
  .tech-stack {
    display: initial;
  }
}

@media screen and (max-width: 750px) {
  #intro-container {
    margin-bottom: 150px;
  }
  #intro {
    display: block;
  }
  .intro-left,
  #portrait {
    width: 100%;
    margin-top: 42px;
  }

  .contact-button {
    position: initial;
  }
}
