.illustrations-container {
  margin: 0 auto 0 auto;
  /* max-width: 1200px; */
}

.illustration-container {
  width: fit-content;
  margin: 50px auto 50px auto;
}
.illustration-container:first-child {
  margin-top: 0;
}
.illustration-container:last-child {
  margin-bottom: 0;
}

.illustration {
  width: 70%;
}

.illustration-container:nth-child(even) {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  justify-content: end;
}
.illustration-container:nth-child(odd) {
  margin-left: 0;
  margin-right: auto;
}
@media screen and (max-width: 550px) {
  .illustration {
    width: 100%;
  }
}
