@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@400;500;600&display=swap');

:root {
  --black: rgb(48, 44, 41);
  --orange: #df7861;
  --bg: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg);
  line-height: 1.3;
  color: var(--black);
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Dela Gothic One', sans-serif;
  font-size: 64px;
  font-weight: normal;
}

h2 {
  font-size: 42px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.header {
  text-align: center;
}

ul {
  margin: 0;
  margin-right: 70px;
  margin-left: 27px;
  padding: 0;
  line-height: 1;
}

li {
  font-size: 30px;
}
li span {
  font-size: 20px;
}

.text-orange {
  color: var(--orange);
}

.text-sm {
  font-size: 22px;
}

.text-md {
  font-size: 28px;
}

.text-lg {
  font-size: 35px;
}

.text-300 {
  font-weight: 300;
}

.text-700 {
  font-weight: 700;
}

.text-20px {
  font-size: 20px;
}

.list-bullet {
  vertical-align: middle;
}

a:hover {
  text-decoration: none;
}

#logo-personal {
  display: flex;
  justify-content: center;
}

#logo-personal p {
  font-style: italic;
  font-weight: 300;
  text-align: center;
  width: 80%;
}

.tab-link:focus-visible {
  outline: 4px solid var(--black);
}
